# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
absl-py
aiohttp
aioice
aiortc
aiosignal
async-timeout
attrs
av
bidict
blinker





certifi
cffi
charset-normalizer
click
cryptography

dlib
dnspython

face-recognition
face-recognition-models
ffmpeg
filelock
flask
flask-cors
flask-socketio
frozenlist

gmp
gnutls
google-crc32c
graphite2
h11
harfbuzz
hdf5
icu
idna
ifaddr
imageai
importlib-metadata
itsdangerous
jasper
jinja2
krb5
lame
lcms2
lerc
libabseil
libaec
libass
libblas
libcblas
libcurl
libcxx
libdeflate
libedit
libev
libexpat
libffi
libgfortran
libgfortran5
libglib
libiconv
libidn2
libjpeg-turbo
liblapack
liblapacke
libnghttp2
libopenblas
libopencv
libopus
libpng
libprotobuf
libsqlite
libssh2
libtasn1
libtiff
libunistring
libvpx
libwebp-base
libxcb
libxml2
libzlib
llvm-openmp
markupsafe
mpmath
multidict
ncurses
nettle
networkx
numpy
opencv
openh264
openjpeg
openssl
p11-kit
pathlib
pcre2
pillow
pip
pixman
pthread-stubs
py-opencv
pycparser
pyee
pylibsrtp
pyopenssl
pysocks
python
python-engineio
python-socketio
python_abi
readline
requests
setuptools
simple-websocket
six
svt-av1
sympy
tk
torch
torchvision
typing-extensions
typing_extensions
tzdata
urllib3
websockets
werkzeug
wheel
wsproto
x264
x265
xorg-libxau
xorg-libxdmcp
xz
yarl
zipp
zlib
zstd
